aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
frozenlist==1.3.3
fuzzywuzzy==0.18.0
idna==3.4
install==1.3.5
iso8601==1.1.0
multidict==6.0.4
numpy==1.24.2
pandas==1.5.3
python-dateutil==2.8.2
python-decouple==3.8
python-musicpd==0.8.0
pytz==2023.2
requests==2.28.2
six==1.16.0
tinytag==1.8.1
twitchio==2.6.0
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.8.2
